
#hd a {
  text-decoration: none;
}

#topbanner {
  transition: .5s;
  font-size: 0.85em;
}

#gnb a {
  transition: 0.5s;
  font-size: 1.2em;
  font-weight: 400;
}

#gnb a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  margin: auto;
  height: 2px;
  background-color: #da291c;
  transition: 0.5s;
  bottom: 0;
}

#gnb a:hover:after,
#gnb a.on:after {
  width: 100%;
}

#gnb a:hover,
#gnb a.on {
  color: #da291c !important
}

#popup {
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 10000;
}

#popup a {
  text-align: center;
  font-size: 2rem;
  margin-left: 8px;
  color: white;
}

#family ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}
#family ul li{
  list-style: none;
}

#family button {
  width: 0;
  border: 0;
  background-color: transparent;
  padding: 5px 0;
}

#family.show ul {
  display: block;
}

#family a {
  color: black;
  line-height: 25px;
}

#family {
  width: 0;
}

#topbanner h1 {
  width: 0;
}

.scroll #hd {
  transform: translateY(-36px);
}

#hd {
  transition: .5s;
}